@charset "UTF-8";

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: #282828;
  min-width: 960px; 
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.7143;
  margin: 0;
  padding: 0;
}

button {
  text-transform: inherit;
  font-family: inherit;
}

header {
  background-color: #000;
  /*margin-bottom: 60px;*/
  margin-top: -14px;
}

h2 {
  margin: 0;
}

main.container {
  padding-bottom: 30px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.w1200 {
  max-width: 1200px;
  margin: 0 auto;
}

.index-body {
  background: #000 url("../img/background.jpg") no-repeat center top;
}

.container {
  width: 960px;
  padding: 0 10px;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.7143;
  font: inherit;
  text-transform: uppercase;
  width: 140px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.appointment-form .btn {
  width: 300px;
}

.pattern-white {
  background: #fcf9f6 url("../img/pattern-white.jpg");
}

.main-navigation li {
  float: left;
}

.main-navigation a,
.login {
  font-size: 16px;
  line-height: 1.25;
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 25px 20px;
}

.login {
  position: relative;
}

.login::before {
  position: absolute;
  display: block;
  content: "";
  width: 18px;
  height: 16px;
  background-image: url(../img/icon-login.png);
  left: -10px;
  top: 27px;
}

.logo {
  float: left;
  padding: 25px 20px 14px;
}

.user-block {
  float: right;
}

.index-logo {
  width: 368px;
  margin: 60px auto 25px;
}

.features {
  color: #fff;
  margin-bottom: 83px;
}

.features-item {
  width: 300px;
  float: left;
  text-align: center;
  margin: 0 10px;
}

.features-item:first-child {
  margin-left: 0;
}

.features-item:last-child {
  margin-right: 0;
}

.features-name {
  position: relative;
  display: block;
  font-size: 30px;
  line-height: 1.4;
  margin-bottom: 30px;
  padding-bottom: 35px;
}

.features-name::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  width: 20px;
  height: 20px;
  margin-left: -10px;
  background-color: #fff;
  transform: rotate(45deg);
}

.index-content {
  background:
    url("../img/stripe.png") no-repeat center,
    #f7f4f1 url("../img/pattern-white.jpg");
  margin-bottom: 35px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.index-content p > a {
  color: #000;
}

.index-content-left,
.index-content-right {
  width: 380px;
}

.index-content-left {
  float: left;
  margin-left: 80px;
}

.index-content-left .btn,
.gallery .btn {
  margin-right: 20px;
}

.index-content-right {
  float: right;
  width: 300px;
  margin-right: 80px;
}

.index-content-right p {
  width: 290px;
}

.index-content-title {
  font-size: 30px;
  line-height: 1.4;
}

.gallery-content {
  margin: 32px 7px 45px;
}

.some-btns {
  font-size: 0;
}

.some-btns .btn,
.appointment-form .btn {
  font-size: 14px;
}

.some-btns .btn:last-child {
  margin-right: 0;
}

.news-preview {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}

.news-preview time {
  text-transform: none;
}

.appointment-form {
  font-size: 0;
}

.appointment-form input {
  display: inline-block;
  width: 140px;
  border: 2px solid #000;
  padding: 8px 15px;
  margin-bottom: 20px;
}

.appointment-form input:nth-child(odd) {
  margin-right: 20px;
}

.main-footer {
  color: #fff;
  background: #262626 url(../img/pattern-gray.jpg);
  padding-top: 60px;
  padding-bottom: 40px;
}

.main-footer a {
  color: #fff;
  text-decoration: none;
}

.main-footer p {
  margin-bottom: 17px;
  margin-top: 0;
}

.main-footer .where-are-we {
  text-decoration: underline;
}

.footer-contacts,
.footer-social {
  float: left;
}

.footer-copyright {
  float: right;
}

.footer-contacts {
  width: 310px;
  margin-right: 10px;
}

.footer-social {
  width: 300px;
  text-align: center;
}

.footer-social a {
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  width: 43px;
  height: 43px;
  background-color: #000;
  margin-right: 6px;
}

.footer-social a:last-child {
  margin-right: 0;
}

.social-btn-vk img {
  margin-top: 14px;
}

.social-btn-fb img {
  margin-top: 10px;
}

.social-btn-inst img {
  margin-top: 11px;
}

.footer-copyright {
  text-align: center;
}

.footer-copyright a {
  display: block;
  background-color: #000;
  width: 140px;
  padding: 11px 8px;
}
